# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
baseurl=https://localhost:8443/j2ee
smsAuth=Y
crOtpAuth=Y
authOption=N
#apiurl=https://192.168.6.218/CentagateWS/webresources
#apiurl=https://cloud.centagate.com/CentagateWS/webresources
#integrationkey=d0212cac5b7848c3e3a90b0d78769cbd4d2209513bbeee1f93aa12db7a39b5d1
#secretkey=cPijtwWmtKtX

apiurl=http://172.18.11.15:8080/CentagateWS/webresources
integrationkey=a6b99b9adbcf64e5c440a1733b27fc0e6045fa019315bfe52863fabec91b70ef
#9dddb13305b6dcbff65b71069286e768c2907448f80570e861c5228211821ed3
secretkey=0X1u9YO3zQuk
#GElAe1uTlZ3t

passwordMinLength=6
passwordComplexity=1

#auyongcompany clound
#integrationkey=ad1ce4fefdf69a33683c8b6d4a14ab4c8c6b2757301352b0e88210df9831a52b
#secretkey=JpjBe9IKMNQO

## Proxy Setting
#proxyHost=192.168.6.99
#proxyPort=808
#proxyUser=WIN-EJ4JV23L83U
#proxyPass=foo123
#cannot remove the properties name. either leave it blank, or put in with value
#proxyHost=
#proxyPort=
#proxyUser=
#proxyPass=

## enable the SSL bypass or not
bypassSslChecking=true
